body {
    background-color: rgb(20, 20, 93);
}
.photo {
    padding-left: 40em;
    color: white;
    
}
.para {
    padding-left: 2em;
    color: white;
}
ul li{
    color: white;
}
footer a:visited{
    color: red;
    ;
}
footer a{
    margin-left: 2em;
    font-size: 30px;
    padding-top: 20em;
    text-decoration: none;
}
.greenColor {
   color: green;
}
p {
    font-family:Arial, Helvetica, sans-serif;
}